{% extends 'main/base.html' %}
{% load filters %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Магазинчик</h1>
    <p class="lead">Магазинчик - это так себе вариант купить продукты</p>
</div>
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'main:create_product' %}">Добавить Продукт</a>
</div>
<div class="row text-center">
    {% for object in object_list %}
    {% if object.is_published or perms.main.set_published_status or object.owner == user %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img src="{{object.image|my_media}}"
                     width="350"
                     height="350">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Категория: {{object.category}}</li>
                        <li>Цена: {{object.price}}руб.</li>
                        <li>Описание: {{object.description|truncatechars:100}}</li>
                        {% if object.is_published %}
                        <li>Статус публикации: Опубликовано</li>
                        {% else %}
                        <li>Статус публикации: На модерации</li>
                        {% endif %}
                    </ul>
                    {% if object.versions.all %}
                    {% for version in object.versions.all %}
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {% if version.is_active %}
                        <li>Версия: {{version.name}} {{version.version}} </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                    {% else %}
                        <li>Нет активной версии</li>
                    {% endif %}
                    <a href="{% url 'main:product' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Посмотреть</a>
                    {% if object.owner == user or perms.main.set_published_status %}
                    <a href="{% url 'main:edit_product' object.pk %}" class="btn btn-lg btn-block btn-primary">Изменить</a>
                    {% endif %}
                    <a href="{% url 'main:delete_product' object.pk %}" class="btn btn-lg btn-block btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}